<script type="text/javascript">
(function () {
  var span = document.createElement('span');
  
  span.className = 'fa';
  span.style.display = 'none';
  document.body.insertBefore(span, document.body.firstChild);
  
  function css(element, property) {
    return window.getComputedStyle(element, null).getPropertyValue(property);
  }
  
  if ((css(span, 'font-family')) !== 'FontAwesome') {
    var headHTML = document.head.innerHTML;
    headHTML += '<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">';
    document.head.innerHTML = headHTML;
  }
  document.body.removeChild(span);
})();
</script>
